@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.lato {
  font-family: "Lato", sans-serif;
}

.lato-thin { font-weight: 100; }
.lato-light { font-weight: 300; }
.lato-regular { font-weight: 400; }
.lato-bold { font-weight: 700; }
.lato-black { font-weight: 900; }

.italic { font-style: italic; }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;   
}

#hero{
    height: 100vh;
    background-color: rgba(229, 84, 115, 0.1);   
}
.container{
    width : 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin : 0 auto;
}
.img{
    height: 550px;
    /* width : 100px; */
}
.left-side{
    font-size: 60px;
}
.hero-p{
    font-size: 18px;
    line-height: 30px;
    color: gray;
    margin-top: 20px;
}
.btn{
    font-size : 16px;
    font-style: bold;
    background-color: #E55473;
    padding: 12px 12px;
    border: none;
    border-radius: 5px;
    color: white;

}
.heading-text{
    text-align: center;
}
.p{
    font-size: 18px;
    line-height: 30px;
    color: gray;
    margin-top: 2px;
}
.heading{
    font-size: 26px;
    font-style: bold;
}
.feature-section{
    margin-top : 60px;
}
.item{
    height : 400px;
    width: 300px;
    border-radius: 500px 500px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.f-item{
    background-color: rgba(167, 33, 98, 0.15);
}
.s-item{
    background-color: rgba(5, 151, 160, 0.15);
}
.t-item{
    background-color: rgba(71, 125, 17, 0.15);
}

.f-img{
    height : 300px;   
}
.flowers{
    display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
    justify-content: space-between;
}
.support{
    height: 200px;
    background-color: rgba(39, 39, 39, 0.05);
    margin-top : 100px;
    margin-bottom: 80px;
    border-radius: 8px;
}
.group{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color : rgb(95, 93, 93);
}
.support{
    display: flex;
    justify-content: space-around;
}
.hot-deal{
    height: 50vh;
    background-color: rgba(229, 84, 115, 0.05);
    margin-top: 60px;
    margin-bottom: 50px;
}
.left span{
    color: #E55473;
}
.left p{
    text-align: center;
    margin-bottom: 16px;
    margin-top: 16px;
}
.left h3{
    text-align: center;
}
.left button{
    text-align: center;
}
.btn-box{
    display: center;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.image-hot{
    height: 200px;
}
.hot-deal{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text h3{
    text-align: center;
    margin-bottom: 12px;
}
.text p{
    text-align: center;
}
.instagram{
    margin-top: 60px;
    margin-bottom: 80px;
}
.all-image{
    width : 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.img-size{
    height : 300px;
}
.text{
    margin-bottom: 32px;
}
.get-section{
    margin-top: 60px;
    margin-bottom: 100px;
}
.back-image{
    height: 300px;
    width: 1100px;
    background-image: url("../Flower Asset/Rectangle 9.png");
    background-size: cover;
    margin : 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-get{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input{
    height : 43px;
    width: 500px;
    border: none;
    border-radius: 5px;
    margin-right: 8px;
    padding-left: 24px;
}
.btn-input{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}
.footer{
    margin-top: 40px;
    background-color: #111010;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.f-title{
    color: #E55473;
    text-align: center;
}
.f-shop{
    color : white;
}
.f-content p{
    text-align: center;
    margin-top: 12px;
    margin-bottom: 32px;
}
.copyright{
    color: gray;
    font-size: 12px;
}


